<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="../../assets/reviewBG.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Bem-vindo</ion-card-subtitle>
        <ion-card-title>SpotReview</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>O SpotReview irá permitir que você faça avaliações de locais em que você está próximo, passando a informação para outras pessoas!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
